/* ========================================================================
   Use this file to add custom CSS easily
   ========================================================================== */

.secahlist{
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


.secahlist li{

    padding: 5px;
     float: left;
    display: inline;
    list-style: none;
     display: block;
}
.secahlist li input , 
.secahlist li select ,
.secahlist li label {
    max-width: 110px;
        
}

.secahlist li label {
    padding-top: 8px;
}


.secahlist li select {
  margin-top: 10px;
    background: #fff;
    color: #000000;
}
.mdb-select,
.md-form
{
    
    margin: 0px;
    padding: 0px;
    min-width: 250px;
    min-height: 280px;
}

