/* ========================================================================
   Use this file to add custom CSS easily
   ========================================================================== */

@import 'https://fonts.googleapis.com/css?family=Varela';
@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,600,700';

@font-face {
  font-family: sri-bold;
  src: url(../fonts/GE_SS_Two_Bold.otf) format('opentype');
  
}


@font-face {
  font-family: sri-light;
  src: url(../fonts/GE_SS_Two_Light.otf) format('opentype');
  
}



@font-face {
  font-family: sri-medium;
  src: url(../fonts/GE_SS_Two_Medium.otf) format('opentype');
  
}



* ,
html ,
body{
    
 
    
    text-align: right
}


.secahlist{
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


.secahlist li{

    padding: 5px;
     float: left;
    display: inline;
    list-style: none;
     display: block;
}
.secahlist li input , 
.secahlist li select ,
.secahlist li label {
    max-width: 110px;
        
}

.secahlist li label {
    padding-top: 8px;
}


.secahlist li select {
  margin-top: 10px;
    background: #fff;
    color: #000000;
}
.mdb-select,
.md-form
{
    
    margin: 0px;
    padding: 0px;
    min-width: 250px;
    min-height: 280px;
}



h3 ,h1 , h2 , h5 , h4 , p  , span, li a {
       font-family: Varela , sri-medium ,  sri-light   !important;
}
section{
       font-family: Varela , sri-medium ,  sri-light   !important;
    font-family: sri-medium ,  sri-light  !important;
    direction: rtl;
}
.secahlist{
    font-family: sri-medium ,  sri-light  !important;
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

ul li {
    font-family: sri-medium ,  sri-light  !important;
}

.uk-navbar,
.uk-navbar-nav ,
.tm-navbar li
{
     font-family: sri-medium ,  sri-light  !important;
     float: right !important;
     text-align: right !important;
        
}


.secahlist li{
font-family: sri-medium ,  sri-light;
  
     float: left;
    display: inline;
    list-style: none;
     display: block;
}
.secahlist li input , 
.secahlist li select ,
.secahlist li label {
    max-width: 110px;
       font-family: sri-medium ,  sri-light  !important;
}

.secahlist li label {
    padding-top: 8px;
   font-family: sri-medium ,  sri-light  !important;
}


.secahlist li select {
  font-family: sri-medium ,  sri-light  !important;
  margin-top: 10px;
    background: #fff;
    color: #000000;
}

.uk-position-top-right{
    
    top: 0 !important;
    left: 0 !important;
    max-width: 250px;
    direction: ltr;
}
.mdb-select,
.md-form
{
    
    margin: 0px;
    padding: 0px;
    min-width: 250px;
    min-height: 280px;
}

.uk-dropdown {
    top : 20px ;
}

.uk-dropdown li a{
    
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 100;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
} 

