
body{
    
    background: #12376c    url("../images/bg.jpg") no-repeat ;
    background: #44650a    url("../images/bg1.jpg") no-repeat ;
    background: #912e07    url("../images/bg2.jpg") no-repeat ;
    background: #0b769e    url("../images/bg3.jpg") no-repeat ;
    background: #0b769e;
    background-position: center ;


    
}

#icon
{
    cursor: pointer;
    color: #fff;
    margin:10px;
    text-align: center;
    width:120px;
    height:100px;
   
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	
    
    
    
}
#clock{
    
    
}
#iconr
{
    cursor: pointer;
    color: #fff;
    margin:10px;
    text-align: center;
    display: inline-block;
    clear: right;
    
}
.gruob
{
    position: absolute;
    top: -1000px;

    background: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#000'); /* for IE */
    
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #999,  #000); /* for firefox 3.6+ */
    background: -o-linear-gradient(#999 , #000); /* for opera */
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    display: block;
    clear: both;
    z-index: 300;
    
    
}
.gruob:hover{
    background: #125ebc;
    background: -webkit-gradient(linear, left top, left bottom, from(#008fd2), to(#125ebc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #008fd2,  #125ebc); /* for firefox 3.6+ */
    background: -o-linear-gradient(#008fd2 , #125ebc); /* for opera */
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
-moz-box-shadow:  1px 1px 40px  #86c5ee;
-webkit-box-shadow: 1px 1px 40px #86c5ee;
box-shadow: 1px 1px 40px #86c5ee;

}
.innertry 
{
    position: fixed;
    width: 200px;
    height: 23px;
    top: 400px;
    left: 20px;
    background:  #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 100000;
    
    
    
}
.body{
    z-index: 100000;
}
.center {
   
    margin-top:  0px;
    margin-left: 200px;
    
    
}
.biger img
{
    min-width: 160px;
    max-width: 160px;
}
#icon img , #iconr img {
    min-width: 60px;
    max-width: 60px;
}

.head
{
    background: #FFF;
    min-height: 30px;
    color: #232033;
    padding-left: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dfdf', endColorstr='#fffffC'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e4dfdf), to(#FFFFFC)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #e4dfdf ,  #fffffC); /* for firefox 3.6+ */
background-image: -o-linear-gradient(#e4dfdf , #fffffC); /* for opera */    

-moz-box-shadow:  -12px 5px 10px  #86c5ee;
-webkit-box-shadow: -12px 5px 10px #86c5ee;
box-shadow: -12px 5px 10px #86c5ee;

}


#ajax
{
    position: fixed;
    width: 220px;
    
    margin: 180px auto auto 500px; 
    text-align: center;
    color: #fff;
    z-index: 100000000;
     
    
    
}
#ajax img {
    padding-top: 13px;
}
#ajaxbg{
    position: inherit;
        
    width:220px;
    background: #000;
    height: 74px;
    z-index: -12;
}
.bwind
{
       background:#000;
       background:   url("../images/air.ico/fpng.png");
	
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	position:fixed;
	
       
	border-color:#000;
	border-style:solid;
	border-width:thin;
	font:Verdana, Geneva, sans-serif;
	color:#09F;
	font-size:12px;
	text-align:left;
	margin:5px;
	-moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        border-radius: 10px;
    
    	-moz-box-shadow:#999 2px 0px 3px;
    	-webkit-box-shadow:#999 2px 0px 3px;
        z-index: 1100;
}
.bwind:hover{
    z-index: 1220;
}
.scol{
     overflow: auto;
	 max-height: 440px;
}
.wind
{
        
      /*
	 overflow: auto;
	 max-height: 440px;
	*/
	font:Verdana, Geneva, sans-serif;
	color:#09F;
        padding: 2px;
	
}
.wind_head
{
    
    padding: 10px;
    
}
.wind_close{
    min-width: 20px;
    min-height: 20px;
    max-height: 20px;
    max-width: 20px;
    
    background: url("../images/air.ico/icons_21.png") no-repeat;
    
    cursor: pointer;
}
.xman {
    width: 650px;
    max-height: 450px;
    overflow: auto;
    background: #3c3c3c;
}
.srcos{
    overflow: auto;
    max-height: 450px;
}
.wind_close:hover{
    cursor: pointer;
    -moz-box-shadow:inset 0 0 10px #e01d33;
        -webkit-box-shadow:inset 1px 2px 10px #e01d33;
    box-shadow:inset 1px 2px 10px #e01d33;
    
    -moz-box-shadow: 0 0 20px #e01d33;
        -webkit-box-shadow: 1px 2px 20px #e01d33;
    box-shadow: 1px 2px 20px #e01d33;
    
}

.search
{
    bottom: 100px;
    right: 100px;
    position: absolute;
    padding: 5px;
    background: #fff;
    width: 270px;
    height: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#fff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#FFF)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #CCC,  #FFF); /* for firefox 3.6+ */
    background: -o-linear-gradient(#CCC , #fff); /* for opera */
    -moz-appearance: push-button;
    -moz-box-shadow:  3px 3px 3px #000;
    -webkit-box-shadow: 3px 3px 3px #000;
    box-shadow: 3px 3px 3px #000;
}
.search input[type=text]{
border: 0px;
background: #f2f2f2; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#fff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#FFF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f2f2f2 ,  #FFF); /* for firefox 3.6+ */
background: -o-linear-gradient(#f2f2f2 , #fff); /* for opera */
padding: 4px;
-moz-box-shadow:inset 0 0 10px #9b9b9b;
 -webkit-box-shadow:inset 1px 2px 10px #999;
box-shadow:inset 1px 2px 10px #999;
   

        
}

.search input[id=mac]{
    color: #666;
    font-weight: bolder;
    padding: 5px;
border: 1px solid #CCC;
background: #f0ecec ; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ecec', endColorstr='#fff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f0ecec), to(#FFF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f0ecec ,  #FFF); /* for firefox 3.6+ */
background-image: -o-linear-gradient(#f0ecec , #fff); /* for opera */    
 -moz-box-shadow:  1px 2px 10px #999;
    -webkit-box-shadow: 1px 2px 10px #999;
    box-shadow: 1px 2px 10px #999;
   
}
.search input[id=mac]:hover{
    color: #529fd0;
    background: #e4dfdf ; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dfdf', endColorstr='#fffffC'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e4dfdf), to(#FFFFFC)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #e4dfdf ,  #fffffC); /* for firefox 3.6+ */
background-image: -o-linear-gradient(#e4dfdf , #fffffC); /* for opera */    
-moz-box-shadow:  1px 10px 20px  #86c5ee;
-webkit-box-shadow: 1px 2px 20px #86c5ee;
box-shadow: 1px 2px 20px #86c5ee;
 
}

.light
{
    
-moz-box-shadow:  1px 1px 20px  #86c5ee;
-webkit-box-shadow: 1px 1px 20px #86c5ee;
box-shadow: 1px 1px 20px #86c5ee;

}
.mitro
{
    text-align: center;
    background: #009493;
    color: #fff;
    font-weight: bolder;
    position: fixed;
    margin-left: -230px;
    min-width: 70px;
    min-height: 100%;
     border-right: 1px solid #000;

}
.mitro img{
    
    max-width: 60px;
    margin-top: 30px;
    
}
.mitro_close{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
    position:fixed;
    margin-left: 67px; 
    bottom: 10px;
    float: left;
    clear: both;
    min-width: 30px;
    min-height: 25px;
    max-height: 30px;
    max-width: 25px;
    
    background: #009493 url("../images/air.ico/mitro.png") no-repeat;
    background-position:center; 
    background-size: cover;
    
    
    cursor: pointer;
}

.mitro_close:hover
{
     background: #009493 url("../images/air.ico/mitro_c.png") no-repeat;
     background-position:center; 
    background-size: cover;	
    cursor: pointer;
    -moz-box-shadow:  5px 1px 40px  #aeef8b;
-webkit-box-shadow: 1px 2px 20px #86c5ee;
box-shadow: 1px 2px 20px #86c5ee;
   
     
}
.form{
	font-weight:bolder;
	font-size:17px;
}
.form label{
	float:right;
	clear:both;
	margin-right:10px;
	
	margin-top:10px;
}
.form input , .form  select {
	margin-top:-15px;
	float:left;
	clear:both;
}
.form  textarea{
	float:left;
	clear:both;
	width:390px;
	height:100px;
	max-height:100px;
	max-width:390px;
	overflow:scroll;
}
.form input[type="text"] ,.form input[type="password"] , .form  select {
	padding:3px;
	min-width:200px;
}
.form  select {
	min-width:218px;
}

.form input[type="button"]{
	cursor:pointer;
	margin:10px;
	float:right;
	border: 1px solid #CCC;
	padding:10px;
	color:#FFF;
	font-weight:bolder;
	font-size:medium;
	
	width:150px;
}
.graidtable
{
    float: left;
    clear: both;
    width: 100%;
   
    
    background: #FFFFFF;
}
.scol  {
    float: left;
    clear: both;
    width: 100%;
    max-height: 300px;
    background: gray;
    padding: 5px;
    
}

a , a:link , a img
{
    border: 0;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}
input[type=button]
{
    background: #666;
    color: #FFF;
}
input:hover{
    z-index: 90000;
}

.galary{
    top: 100px;
    left: 340px;
    z-index: 1000000;
}
.imgcontinar{
    float: left;
    margin: 5px;
    cursor: pointer;
}
.maindiv{
    margin-left: 120px;
    margin-top: 45px;
    
}
.marged{
    margin-top: 45px;
    
}
.fixed{
    margin-top: 40px;
    position: fixed;
}

.sidelist xl li
{
    list-style: circle;
    display: list-item;
    float: left;
    clear: right;
}