root { 
    display: block;
}
body{
    height: 100%;
    background: #f1f4f9 ;
    
}




#icon
{
    cursor: pointer;
    color: #fff;
    margin:10px;
    text-align: center;
    width:120px;
    height:100px;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
    border-radius: 100px; 
    float: left;
}

#clock{
    
    
}
#iconr
{
    cursor: pointer;
    color: #fff;
    margin:10px;
    text-align: center;
    display: inline-block;
    clear: right;
    
}
.gruob
{
    position: absolute;
    top: -1000px;

    background: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#000'); /* for IE */
    
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #999,  #000); /* for firefox 3.6+ */
    background: -o-linear-gradient(#999 , #000); /* for opera */
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    display: block;
    clear: both;
    z-index: 300; 
    
    
}
.gruob:hover{
    background: #125ebc;
    background: -webkit-gradient(linear, left top, left bottom, from(#008fd2), to(#125ebc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #008fd2,  #125ebc); /* for firefox 3.6+ */
    background: -o-linear-gradient(#008fd2 , #125ebc); /* for opera */
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
-moz-box-shadow:  1px 1px 40px  #86c5ee;
-webkit-box-shadow: 1px 1px 40px #86c5ee;
box-shadow: 1px 1px 40px #86c5ee;

}
.innertry 
{
    position: fixed;
    width: 200px;
    
    top: 70px;
    right: 20px;
    
    color: #fff;
    padding: 2px;
    text-align: center;
    z-index: 100000;
    
    
    
}

.innertry  ul li{
    height: 50px;
    list-style: none;
    background:  #000;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid #000;
    color: #fff;
    
}

.body{
    z-index: 100000;
}
.center {
   
    margin-top:  0px;
    margin-left: 200px;
    
    
}
.biger img
{
    min-width: 160px;
    max-width: 160px;
}
#icon img , #iconr img {
    min-width: 60px;
    max-width: 60px;
}

.head
{
    background: #FFF;
    min-height: 30px;
    color: #232033;
    padding-left: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dfdf', endColorstr='#fffffC'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e4dfdf), to(#FFFFFC)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #e4dfdf ,  #fffffC); /* for firefox 3.6+ */
background-image: -o-linear-gradient(#e4dfdf , #fffffC); /* for opera */    

-moz-box-shadow:  -12px 5px 10px  #86c5ee;
-webkit-box-shadow: -12px 5px 10px #86c5ee;
box-shadow: -12px 5px 10px #86c5ee;

}


#ajax
{
    position: fixed;
    width: 220px;
    
    margin: 180px auto auto 500px; 
    text-align: center;
    color: #fff;
    z-index: 100000000;
     
    
    
}
#ajax img {
    padding-top: 13px;
}
#ajaxbg{
    position: inherit;
        
    width:220px;
    background: #000;
    height: 74px;
    z-index: -12;
}
.bwind
{
       background:#000;
       background:   url("../images/air.ico/fpng.png");
	
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	position:fixed;
	
       
	border-color:#000;
	border-style:solid;
	border-width:thin;
	font:Verdana, Geneva, sans-serif;
	color:#09F;
	font-size:12px;
	text-align:left;
	margin:5px;
	-moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        border-radius: 10px;
    
    	-moz-box-shadow:#999 2px 0px 3px;
    	-webkit-box-shadow:#999 2px 0px 3px;
        z-index: 1100;
}
.bwind:hover{
    z-index: 1220;
}

.wind
{
        
      
	 overflow: auto;
	 max-height: 100%;
	
	font:Verdana, Geneva, sans-serif;
	color:#09F;
        padding: 10px;
	

}
.left_bar
{
    float:left; 
    height:100%;
    overflow:auto;
    margin-top: 45px;
  
    
}
.wind_head
{
    
    padding: 10px;
    
}
.wind_close{
    min-width: 20px;
    min-height: 20px;
    max-height: 20px;
    max-width: 20px;
    
    background: url("../images/air.ico/icons_21.png") no-repeat;
    
    cursor: pointer;
}

.wind_close:hover{
    cursor: pointer;
    -moz-box-shadow:inset 0 0 10px #e01d33;
        -webkit-box-shadow:inset 1px 2px 10px #e01d33;
    box-shadow:inset 1px 2px 10px #e01d33;
    
    -moz-box-shadow: 0 0 20px #e01d33;
        -webkit-box-shadow: 1px 2px 20px #e01d33;
    box-shadow: 1px 2px 20px #e01d33;
    
}

.search
{
    bottom: 100px;
    right: 100px;
    position: absolute;
    padding: 5px;
    background: #fff;
    width: 270px;
    height: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#fff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#FFF)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #CCC,  #FFF); /* for firefox 3.6+ */
    background: -o-linear-gradient(#CCC , #fff); /* for opera */
    -moz-appearance: push-button;
    -moz-box-shadow:  3px 3px 3px #000;
    -webkit-box-shadow: 3px 3px 3px #000;
    box-shadow: 3px 3px 3px #000;
}
.search input[type=text]{
border: 0px;
background: #f2f2f2; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#fff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#FFF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f2f2f2 ,  #FFF); /* for firefox 3.6+ */
background: -o-linear-gradient(#f2f2f2 , #fff); /* for opera */
padding: 4px;
-moz-box-shadow:inset 0 0 10px #9b9b9b;
 -webkit-box-shadow:inset 1px 2px 10px #999;
box-shadow:inset 1px 2px 10px #999;
   

        
}

.search input[id=mac]{
    color: #666;
    font-weight: bolder;
    padding: 5px;
border: 1px solid #CCC;
background: #f0ecec ; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ecec', endColorstr='#fff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f0ecec), to(#FFF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #f0ecec ,  #FFF); /* for firefox 3.6+ */
background-image: -o-linear-gradient(#f0ecec , #fff); /* for opera */    
 -moz-box-shadow:  1px 2px 10px #999;
    -webkit-box-shadow: 1px 2px 10px #999;
    box-shadow: 1px 2px 10px #999;
   
}
.search input[id=mac]:hover{
    color: #529fd0;
    background: #e4dfdf ; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dfdf', endColorstr='#fffffC'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e4dfdf), to(#FFFFFC)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #e4dfdf ,  #fffffC); /* for firefox 3.6+ */
background-image: -o-linear-gradient(#e4dfdf , #fffffC); /* for opera */    
-moz-box-shadow:  1px 10px 20px  #86c5ee;
-webkit-box-shadow: 1px 2px 20px #86c5ee;
box-shadow: 1px 2px 20px #86c5ee;
 
}

.light
{
    
-moz-box-shadow:  1px 1px 20px  #86c5ee;
-webkit-box-shadow: 1px 1px 20px #86c5ee;
box-shadow: 1px 1px 20px #86c5ee;

}
.mitro
{
    text-align: center;
    background: #009493;
    color: #fff;
    font-weight: bolder;
    position: fixed;
    margin-left: -230px;
    min-width: 70px;
    min-height: 100%;
     border-right: 1px solid #000;

}
.mitro img{
    
    max-width: 60px;
    margin-top: 30px;
    
}
.mitro_close{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
    position:fixed;
    margin-left: 67px; 
    bottom: 10px;
    float: left;
    clear: both;
    min-width: 30px;
    min-height: 25px;
    max-height: 30px;
    max-width: 25px;
    
    background: #009493 url("../images/air.ico/mitro.png") no-repeat;
    background-position:center; 
    background-size: cover;
    
    
    cursor: pointer;
}

.mitro_close:hover
{
     background: #009493 url("../images/air.ico/mitro_c.png") no-repeat;
     background-position:center; 
    background-size: cover;	
    cursor: pointer;
    -moz-box-shadow:  5px 1px 40px  #aeef8b;
-webkit-box-shadow: 1px 2px 20px #86c5ee;
box-shadow: 1px 2px 20px #86c5ee;
   
     
}
.form{
	font-weight:bolder;
	font-size:17px;
}
.form label{
	float:right;
	clear:both;
	margin-right:10px;
	
	margin-top:10px;
}
.form input , .form  select {
	margin-top:-15px;
	float:left;
	clear:both;
}
.form  textarea{
	float:left;
	clear:both;
	width:390px;
	height:100px;
	max-height:100px;
	max-width:390px;
	overflow:scroll;
}
.form input[type="text"] ,.form input[type="password"] , .form  select {
	padding:3px;
	min-width:200px;
}
.form  select {
	min-width:218px;
}

.form input[type="button"]{
	cursor:pointer;
	margin:10px;
	float:right;
	border: 1px solid #CCC;
	padding:10px;
	color:#FFF;
	font-weight:bolder;
	font-size:medium;
	
	width:150px;
}
.graidtable
{
    float: left;
    clear: both;
    width: 100%;
   

}
.graidtable  {
    font-size: 120%;
    font-family: sans-serif;
    
    background: #d7d7d7;
    border-spacing: 1px;
    
    border-collapse :separate;
}
.graidtable td{
    padding: 10px;
   
}
a , a:link , a img
{
    border: 0;
    padding: 0;
    margin: 0;
    float: left;
}
input[type=button]
{
    background: #666;
    color: #FFF;
}
input:hover{
    z-index: 90000;
}

.galary{
    top: 100px;
    left: 340px;
    z-index: 1000000;
}
.imgcontinar{
    float: left;
    margin: 5px;
    cursor: pointer;
}
.maindiv{
    
    
    margin: 0px;
margin-top: 60px;
    margin-left: 220px;
    height: 100%;
    
    
    
}

.ststicdv{
    
    background: #fff;
    border: 1px solid #d5d7da;
}
.widget{
    padding: 10px;
    margin: 5px;
    
}

.titboard{
    padding: 20px;
    background: #e9edf2;
    border-bottom: 1px solid #787f8b;
    color: #787f8b;
    font-size: 30px;
    font-weight: 400;
    
}
.marged{
    margin-top: 60px;
    
}
.fixed{
    margin-top: 40px;
    position: fixed;
}
.imgcontinar img
{
    height: 200px;
    width: 200px;
}

.listview{
    margin: 20px;
    padding: 30px;
}
.listview u
{
    float: right;
    
   
   
}

.allchannels{
    padding: 10px;
    border: 1px solid #999;
    background: #FFF;
    max-height: 770px;
    min-height: 770px;
    overflow: auto;
}

.allchannels ,
.allchannels li
{
    text-align: left;
    list-style: none;
}
.allchannels li{
    padding: 10px;
    border: 5px;
    border-color: #333;
    display: block;
    
}
.allchannels li{
    cursor: pointer;
}
.gchannels{
    padding: 10px;
    border: 1px solid #999;
    background: #FFF;
    max-height: 770px;
    min-height: 770px;
    overflow: auto;
}


.gchannels li
{
 padding: 10px;
    border: 5px;
    border-color: #333;
    display: block;
    
}




#cssmenu {
    margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
 

  
  clear: both;
  width: 100%;
}

#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
 
  display: list-item;
  
  clear: both;
  width: 100%;
  
}
#cssmenu a {
  line-height: 1.3;
}

#cssmenu {
  width: 100%;
  
}
#cssmenu > ul > li > a {
  
  font-size: 25px;
  font-weight: bold;
  display: block;
  
  color: #ffffff;
  
  text-transform: uppercase;
  position: relative;
}
#cssmenu > ul > li > a > span {
  
  padding-bottom: 15px;
  padding-top: 15px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #2b384c;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}

#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  
  border-top: 0;
}
#cssmenu ul ul a {
  padding-bottom:  10px;
  padding-top: 10px;
  display: block;
  color: #c9c9c9;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #bd0e36;
}
#cssmenu ul ul li.odd {
  background: #f4f4f4;
}
#cssmenu ul ul li.even {
  background: #fff;
}
#cssmenu{
    overflow: auto;
    overflow-x: auto;
    height: 100%;
     position: relative;
}
.h100{
    
    
    margin-bottom: 0px;
    bottom: 0px;
}
.wells{
       
    text-align: center;
    background: #344258;
    color: #fff;
    font-weight: bolder;
    margin-top: 63px;
    height: 93%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 100px;
    min-width: 70px;
    width: 190px;
    
    
     border-right: 1px solid #000;
     
}
.wells img{
    margin: 9px;
}
.form
{
    overflow: scroll;
    display: none;
    background: #FFF;
    min-height: 250px;
    height: 94%;
    margin-top: -45px;
    padding: 10px;
    position: fixed;
    color: #1fa1c3;
    font-size: 22px;
    font-weight: 300;
    border: 1px solid #7a7b81;
  
}
.pointer{
    cursor: pointer;
}
.th{
    
background: #7d7e7d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

margin: 0px;

}

.th * {
    width: 100%;
}

.right_item
{
    float: right;
    right: 10px;
    margin-right: 10px;
    position: absolute;
    text-align: right;
    direction: ltr;
    color: #FFF;
    clear: left;
}    


.right_item ul li ,
.right_item ul li a
{
    display: inline;
    list-style: none;
    color: #000;
   
    float: left;
    clear: right;
}
.right_item ul li{
    margin-left: 10px;
    margin-top: 16px;
}
.chanlelist
{
    
}

.dialog{
    visibility:hidden;
    display: block;
    clear: both;
    position: fixed;
    height: 200px;
    width: 400px;
    background: #86c5ee;
    top: 200px;
    left: 500px;
}
.dialog form{
    margin-top: 60px;
    margin-left: 80px;
}
.dialog form ul ,
.dialog form ul li{
    
    float: left;
    
    display: inline-block;
   list-style: none;
    
    
}

.bar{
    position: fixed;
    background: #eaebeb;
    height: 60px;
    width: 100%;
    z-index: 100000;
    border-bottom: 1px solid #a6a6a6;
    color: #000;
}

.bar a ,
.bar a:link{
    color: #000;
}

.controls{
    
    background: #344258;
    color: #FFF;
    float: left;
    clear: both;
    width: 100%;
   
    padding: 10px;
    
    font-size: 30px;
}
.red{
    color: red;
}

.gallaryview
{
    background: #666666;
    min-height: 150px;
    max-height: 300px;
    width: 100%;
    clear: both;
    overflow: scroll;
}

.preview{
    clear: both;
    margin-left: 250px;
}

#image-list {
  list-style:none;
  margin:0;
  padding:0;
}
#image-list li {
  background: #fff;
  border: 1px solid #ccc;
  text-align:center;
  padding:20px;
  margin-bottom:19px;
}
#image-list li img {
  width: 258px;
  vertical-align: middle;
  border:1px solid #474747;
}