root { 
    display: block;
}
img , a  , a *{
    border: none;
    text-decoration: none;
}


body{ 
    background: #12376c url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#list{
    font-size: 19px;
    background: url("../images/iconbgh.png") repeat-x;
}
#list ul{
    margin: 0px;
}
#list ul li{
    margin: 0px;
    list-style: none;
    display: inline-block;
    padding: .5em;
}
#list img {
    float: left;
}
#list ul li:hover , 
#list ul li a:hover 
{
      
    background: #dd0101;
    color: #FFF;
}
.box_1{
    margin-top: 10px;
}
#trns{
    background: url("../images/truepng.png");
}
table#data{
    
    background: #fff;
    width: 100%;
}
table#data tr:nth-child(even){
    background:#c8c8c8;
}
table#data td{
    padding: 4px;
}