.timetable_clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
/* --- lists --- */
.tt_tabs_navigation,
.tt_items_list
{
	padding: 0;
	margin: 0;
	list-style: none;
}
.tt_tabs
{
	border: none !important;
}
.tt_tabs .ui-tabs-panel
{
	padding: 0 !important;
}
/* --- timetable --- */
table.tt_timetable
{
	width: 100%;
	font-size: 11px;
	color: #666;
	margin-top: 30px;
	border: none;
	font-family: arial;
	letter-spacing: normal;
	font-size: 11px;
	line-height: normal;
	font-family: 'Lato';
	border-collapse: separate !important;
	border-spacing: 2px !important;
	background: #FFF !important;
}
table.tt_timetable *
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.tt_timetable th,
.tt_timetable td
{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	color: #34495E;
	text-transform: none;
	border: none !important;
}
.tt_timetable th,
.tt_timetable td.tt_hours_column
{
	text-align: center;
	vertical-align: middle;
}
.tt_timetable th
{
	width: 12.5%;
	padding: 10px 15px 12px;
	letter-spacing: normal;
}
.tt_timetable .event_container
{
	padding: 7px 10px;
}
.tt_timetable td
{
	width: 12.5%;
	vertical-align: top;
	height: 31px;
	border: none;
	padding: 0;
	/*height: 100px;*/
}
.tt_timetable .hours
{
	color: #FFF;
	font-weight: bold;
}
.tt_timetable .event
{
	background-color: #00A27C;
	color: #FFF;
	line-height: 140%;
	text-align: center;
	padding: 0 !important;
	vertical-align: top;
}
.tt_timetable .event a,
.tt_timetable .event .event_header
{
	display: block;
	color: #FFF !important;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	text-decoration: none;
	outline: none;
	transition: none !important;
	border: none;
}
.tt_timetable .event a:hover,
.tt_timetable .event a.event_header:hover
{
	text-decoration: underline;
}
.tt_timetable .event .before_hour_text,
.tt_timetable .event .after_hour_text
{
	font-size: 13px;
}
.tt_timetable tr
{
	background-color: #FFF !important;
}
.tt_timetable .row_gray
{
	background-color: #F0F0F0 !important;
}
.tt_timetable .event:hover,
.tt_timetable .event .event_container.tt_tooltip:hover
{
	background-color: #1F736A;
}
.tt_timetable .event.tt_tooltip:hover .hours,
.tt_timetable .event .event_container.tt_tooltip:hover .hours
{
	color: #FFF;
}
.tt_timetable .event .hours_container
{
	margin: 15px 0;
}
.tt_timetable .event .top_hour
{
	margin-top: 15px;
}
.tt_timetable .event .bottom_hour,
.event_layout_4 .tt_timetable .event .top_hour
{
	margin-bottom: 15px;
}
.tt_timetable .event hr
{
	background: #FFFFFF;
    border: none;
    height: 1px;
    margin: 0;
    opacity: 0.4;
}
.tt_timetable.small
{
	display: none;
	font-size: 13px;
}
/* --- tip/tooltip/qtip --- */
.tt_tooltip
{
	cursor: pointer;
}
.tt_tooltip .tt_tooltip_text
{
	display: block;
	/*padding-bottom: 15px;*/
	visibility: hidden;
    opacity: 0;
	position: absolute;
	z-index: 1000;
	left: -19px;
	bottom: 100%;
	line-height: 1;
	text-align: center;
	/* CSS3 Transitions */
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-moz-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-o-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-ms-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	/* CSS3 Transitions */
	-webkit-transition-property: opacity, visibility;
	-moz-transition-property: opacity, visibility;
	-o-transition-property: opacity, visibility;
	-ms-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	/*background: url('images/tooltip_arrow.png') no-repeat 15px bottom;*/
}
.tt_tooltip .tt_tooltip_content
{
	background: #1F736A;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 7px 10px 10px;
	line-height: 150%;
	font-size: 11px;
	text-align: left;
}
.tt_tooltip:hover .tt_tooltip_text
{	
	visibility: visible;
	opacity: 1;
}
.tt_tooltip .tt_tooltip_arrow
{
	content: '';
	position: relative;
	border-color: #1F736A transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	bottom: -6px;
	left: 0;
	display: inline;
}
/* --- tabs box navigation --- */
.tabs_box_navigation.sf-timetable-menu
{
	float: none;
	clear: both;
}
.tabs_box_navigation li:after
{
	content: none !important;
}
.tabs_box_navigation.sf-timetable-menu *
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.tabs_box_navigation.sf-timetable-menu li.submenu:hover:after
{
	background: none;
}
.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected
{
	width: 256px;
	height: auto;
    padding: 13px 12px !important;
	background: #00A27C;
    color: #FFFFFF;
	cursor: pointer;
	margin: 0 !important;
}
.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected:hover
{
	background-color: #1F736A;
}
.tabs_box_navigation.sf-timetable-menu li:hover ul, .tabs_box_navigation.sf-timetable-menu li.sfHover ul
{
	top: 38px;
	border: 1px solid #1F736A;
}
.tabs_box_navigation_hidden
{
	display: none;
}
/* --- menu --- */
.sf-timetable-menu
{
	padding: 0 !important;
	margin: 0 !important;
	list-style: none !important;
}
.sf-timetable-menu a
{
	text-decoration: none !important;
}
.sf-timetable-menu li, .sf-timetable-menu li:hover, .sf-timetable-menu li.sfHover, .sf-timetable-menu a:focus, .sf-timetable-menu a:hover, .sf-timetable-menu a:active
{
	background: none #fff;
}
.sf-timetable-menu li:hover a, .sf-timetable-menu li.selected a, .sf-timetable-menu li.current-menu-item a, .sf-timetable-menu li.current-menu-ancestor a
{
	color: #FFF;
	background: #1F736A;
}
.sf-timetable-menu li ul
{
	width: 228px;
	background: #FFF;
	border: 1px solid #E8E8E8;
	padding: 0 0 5px !important;
	list-style: none !important;
	margin: 0 !important;
}
.sf-timetable-menu li:hover ul, .sf-timetable-menu li.sfHover ul
{
	top: 44px;
}
.sf-timetable-menu li ul li
{
	width: 218px;
	height: auto;
	background-color: #fff;
	padding: 0 5px !important;
	list-style: none !important;
	margin: 0 !important;
}
.sf-timetable-menu li ul li:hover {
	background-color: #fff
}
.sf-timetable-menu li:hover ul a,
.sf-timetable-menu li.submenu:hover ul a
{
	border: none;
	color: #34495E !important;
	background: #FFF;
	padding: 12px 14px;
	font-size: 15px;
	font-family: 'Lato';
	transition: none !important;
}
.sf-timetable-menu li ul li a:hover, .sf-timetable-menu li ul li.selected a:hover
{
	background-color: #00A27C;
	color: #FFF !important;
	font-weight: normal;
}
.sf-timetable-menu li ul li.selected a
{
	background-color: #F0F0F0;
	color: #34495E;
	font-weight: normal;
}
/* --- items list --- */
.tt_items_list
{
	padding: 0 !important;
	margin: 0 !important;
	list-style: none !important;
}
.tt_items_list.margin_top
{
	margin-top: 8px;
}
.tt_items_list li
{
	padding: 12px 0 !important;
	margin: 0 !important;
	list-style: none !important;
	border-bottom: 1px solid #E0E0E0;
	background-position: left center;
	background-repeat: no-repeat;
	line-height: 120%;
}
.tt_items_list li:first-child
{
	padding-top: 0;
}
.tt_items_list a, .tt_items_list span
{
	float: left;
	outline: none;
}
.tt_items_list.thin a, .tt_items_list.thin span
{
	font-weight: normal
}
.tt_items_list .value
{
	float: right;
	color: #34495E;
}
.tt_items_list.opening_hours li span, .tt_items_list.opening_hours .value
{
	color: #FFF;
}
.tt_items_list.opening_hours li
{
	border-color: #4468B2;
}
.home_box .tt_items_list li:first-child
{
	padding-top: 12px;
}
.tt_items_list li a
{
	border: none;
}
.tt_items_list li a:hover
{
	text-decoration: underline;
}
/* --- tabs --- */
.ui-tabs-hide
{
	display: none;
}
.ui-tabs-panel p
{
	padding: 24px 0 25px;
}
/* --- tabs navigation --- */
.tt_tabs_navigation
{
	float: none !important;
	clear: both;
	width: 100% !important;
	padding: 0;
	margin: 0;
	list-style: none !important;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	background: none !important;
	border: none !important;
}
.tt_tabs_navigation li
{
	float: left;
	margin: 0 20px 0 0 !important;
	padding: 0 !important;
	font-size: 18px !important;
	background: none !important;
	border: none !important;
	list-style: none !important;
}
.tt_tabs_navigation li:last-child
{
	margin-right: 0 !important;
}
.tt_tabs_navigation li a
{
	width: auto !important;
	display: block;
	text-align: center;
	color: #666 !important;
	padding: 8px 0 !important;
	border: none !important;
	border-bottom: 1px solid #E5E5E5 !important;
	line-height: normal;
	outline: none;
	text-decoration: none;
	font-size: 15px !important;
	font-family: 'Lato';
	transition: none !important;
	margin-bottom: 1px;
}
.tt_tabs_navigation li a:hover,
.tt_tabs_navigation li a.selected,
.tt_tabs_navigation li.ui-tabs-active a
{
	border-bottom-width: 3px !important;
	padding-bottom: 7px !important;
	border-color: #00A27C !important;
	color: #000 !important;
	margin-bottom: 0;
}
.sf-timetable-menu a:hover,
.tt_tabs_navigation li a:hover,
.tt_tabs_navigation li a:focus,
.tt_tabs_navigation li a:active
{
	text-decoration: none;
}
/* --- tabs box navigation --- */
.tabs_box_navigation.sf-timetable-menu
{
	float: none;
	clear: both;
	font-family: 'Lato';
	font-size: 18px;
}
.tabs_box_navigation.sf-timetable-menu li.submenu:hover:after
{
	background: none;
}
.tabs_box_navigation .tabs_box_navigation_icon
{
	float: right;
	background: url("images/arrow_menu_expand.png") no-repeat scroll 0 0 transparent;
	width: 11px;
	height: 11px;
	margin-top: 3px;
}
.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected
{
	width: 190px;
	height: auto;
    padding: 15px 19px !important;
	margin: 0 !important;
	list-style: none !important;
    color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #00A27C;
}
.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected:hover
{
	background-color: #FFF;
	color: #34495E;
	box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
}
.tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected:hover .tabs_box_navigation_icon
{
	background-position: 0 -11px;
}
.tabs_box_navigation.sf-timetable-menu li:hover ul, .tabs_box_navigation.sf-timetable-menu li.sfHover ul
{
	top: 48px !important;
	left: -1px;
	box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	border-top: none;
}
.tabs_box_navigation label
{
	display: inline !important;
	font-size: 18px !important;
	font-weight: normal !important;
}
.tabs_box_navigation_hidden
{
	display: none;
}


/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(Fonts/HhyXU5sn9vOmLzHDKeCLMItgT7kJx_E.woff2) format('woff2');
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(Fonts/HhyXU5sn9vOmLzHDKeCFMItgT7kJ.woff2) format('woff2');
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(Fonts/HhyaU5sn9vOmLzlmC_WoEoZKdbA.woff2) format('woff2');
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(Fonts/HhyaU5sn9vOmLzloC_WoEoZK.woff2) format('woff2');
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(Fonts/HhyXU5sn9vOmLzG3L-CLMItgT7kJx_E.woff2) format('woff2');
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(Fonts/HhyXU5sn9vOmLzG3L-CFMItgT7kJ.woff2) format('woff2');
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(Fonts/HhyXU5sn9vOmLzHTLuCLMItgT7kJx_E.woff2) format('woff2');
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(Fonts/HhyXU5sn9vOmLzHTLuCFMItgT7kJ.woff2) format('woff2');
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}


/* latin-ext */
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(Fonts/DPEtYwqExx0AWHX5DR4EXP_TsH8i.woff2) format('woff2');
  unicode-range: "U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF";
}
/* latin */
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(Fonts/DPEtYwqExx0AWHX5Ax4EXP_TsA.woff2) format('woff2');
  unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD";
}
