img , a  , a *{
    border: none;
    text-decoration: none;
}


body{ 
    background: #e6e6e6;
}
input[name=search_k]{
    border: 1px solid silver;
    padding: 5px;
    width: 390px;
}
input[name=search_k]:focus{
    outline: 1px solid #787f96;
}


input[type=submit]{
    padding: 4px;
    font-weight: bolder;
    border: 1px solid #e6e6e6;
}

.left{
    
    background: #2a2a2a;
    color: #e6e6e6;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius:  5px 5px 0px 0px ;
    border-radius: 5px 5px 0px 0px ;
    min-height: 460px;
    
}
.left ul{
    margin: 0px;
    padding: 0px;
}
.left ul li{
    cursor: pointer;
    list-style: none;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #3d3d3d;
}
.left ul li:hover{
    background: #1a1a1a;
}

.left_head{
    padding: 10px;
    background: #000;
    color: #e6e6e6;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius:  5px 5px 0px 0px ;
    border-radius: 5px 5px 0px 0px ;
    
}

.center_head{
    padding: 10px;
    background: #333;
    color: #e6e6e6;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius:  5px 5px 0px 0px ;
    border-radius: 5px 5px 0px 0px ;
    
}



.total{
    -webkit-border-radius: 10px;
    -moz-border-radius:  10px;
    border-radius: 10px;
    background: #FFF;
}
.right{
    
    background:#FFF;
    color: #999;
    padding: 4px;
    -webkit-border-radius: 5px ;
    -moz-border-radius:  5px ;
    border-radius: 5px ;
    
}
.center{
    
    background: #FFF;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius:  5px 5px 0px 0px ;
    border-radius: 5px 5px 0px 0px ;
    height: 460px;
    max-height: 460px;
}
.list{
    max-height: 400px;
}
.list a ,
.list a:link ,
.list a:visited {
    color: #e6e6e6;
    text-decoration: none;
}

.fotter{
    background: url(../images/fotterbg_2.png)  ;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
}
.chan_name{
    margin: 5px;
    padding-left: 3px;
    padding: 5px;
    font-size: 14px;
    color: #FFF;
    background: #016f5d ;
    background-repeat: repeat-x;
     -webkit-border-radius: 5px;
    -moz-border-radius:  5px ;
    border-radius: 5px ;
    cursor: pointer;
}
.chan_name:hover{
    background: #019045;
}
.chan_body{
    color: #787f96;
    font: 10px;
}

.chan_body:hover{
    background: #ececec;
}
.chan_body ul,
.chan_body ul li{
    list-style: none;
    margin: 0px;
}
.chan_body img{
    background: #787f96;
    padding: 5px;
    max-width: 150px;
    min-width: 150px;
}
.center_body
{
    max-height: 422px;
}

.login_form
{

	
	
    -moz-border-radius :10px;
    -webkit-border-radius :10px;
    
}

 .login_form input[type=text], .login_form input[type=password]
{
    width: 280px;
    display: block;
    border: 1px solid silver;
    margin:  0 0 1em;
    padding: 0.5em;
    -moz-border-radius :4px;
    -webkit-border-radius :4px;
    font-style: oblique;
    font-size: 100%;
    clear: left;

}

 .login_form input[type=submit] 
{
    

    text-decoration: none;
    margin: 6px;
    padding: 5px;
    font-size: 12px;
    background:#666;
    color:#FFF;
    border: 1px solid #666;
    -moz-border-radius :4px;
    -webkit-border-radius :4px;
    cursor: pointer;
	font-weight:900;
	font-size:24px;
	float:right;
	clear:both;
	
}

 .login_form input[type=submit]:hover  
{
    background:#CE740F;
    
    
}

.login_head
{
	
	min-height:50px;
	text-align:left;
	padding-top:20px;
	padding-left:10px;
	
	font-weight:bolder;
	padding-top:10px;
	padding-bottom:10px;
	
	
}
.login_body
{
	color:#0a3646;
	margin:5px;
	

}
.login_fotter
{
	color:#0a3646;
	clear:both;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	
	
}
.readed
{
    background: #C9c9c9;
}
.msg{
    padding: 10px;
 
   
}
.xcd{
    border-bottom: 1px solid #FFF; 
}
.center_body  ul    {
    list-style: none;
    
    
}
.center_body  ul li{
    padding: 10px;
}
.center_body input
{
 
    float: right;
}
.center_body label
{
  
    float: left;
}