.menu_left {
    float: left;
    background-image: url('left_menu.png');
    width: 44px;
    height: 50px;
}

.menu_right {
    float: left;
    background-image: url('right_menu.png');
    width: 44px;
    height: 50px;
}

.root_menu {
    float: left;
    background-image: url('middle_menu.png');
    background-repeat: repeat-x;
    height: 50px;
    font-weight: bold;
    color: #333;
    font-family: arial, helvetica, sans;
}

.root_menu ul {
    padding: 0px;
    list-style-type: none;
}

.root_menu ul li {
    display: inline;
    padding-left:  18px;
    padding-right: 18px;
    cursor: pointer;
}

.root_menu ul li:hover {
    color: #fff;
    cursor: pointer;
}

.submenu {
    background-color: #ddd;
    border: 1px solid black;
    position: absolute;
    display: none;
    font-family: arial, helvetica, sans;
}

.submenu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.submenu ul li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submenu ul li:hover {
    cursor: pointer;
    background-color: #fff;
}